html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#red {
  background: rgba(218, 22, 22, 0.89);
}

#green {
  background: rgba(7, 97, 7, 0.904);
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
